.time_chart{
  width: 97%;
  height: 30rem;
  margin-left: 2rem;
  position: relative;
}
.time_chart_loading{
  width: 83%;
  height: 30rem;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: absolute;
}

.loading_content{
  align-items: center;
}
.time_chart_none{
  display: none;
}
.content{
  background-color: white;
  width: 97%;

}
