.body{
width: 97%;
  margin-left: 2rem;
}
.rightlable{
display: flex;
}
.righbutton{
margin-right: 2rem;
}
.righinput{
width: 15rem;
  margin-left: 2rem;
}
.affiliatecontent{
width: 97%;
  background-color: white;
}
.affiliate{
}
.top{
  display: flex;
  width: 97%;
  margin-bottom: 0.5rem;
  justify-content: space-between;
}
.operator{
  display: flex;
  float: left;
}
.time_chart_loading{
  width: 82.5%;
  height: 42rem;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: absolute;
}

.loading_content{
  align-items: center;
}
.time_chart_none{
  display: none;
}
.treeselect{
  margin-left: 1rem;
}
