.body{
  /*background-color: #eff3f6;*/
  width: 100%;
  /*overflow: auto;*/
  height: 100%;

}
.title{
  display: flex;
  margin-top: 1rem;
  margin-left: 2rem;
  font-size: 22px;
  font-family: "Microsoft Yahei";
  color: #3b3b3b;
}
.content{

}
.citydistubition{
  display: flex;
  width: 97%;
  margin: 1.5rem;
  height: 50rem;
  background-color: white;
}
.citytop{
  margin-top: 2rem;
  margin-left: 2rem;
  width: 45rem;
  height: 50rem;
  background-color: white;
}
.allmap{
  display: flex;
  flex-basis: 100%;

}
.top10{
  display: flex;
  flex-basis: 80%;

}
.firstcard{
  width: 97%;
}
.first_title{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.first_title_time{
  display: flex;
  margin-right: 2rem;
}

.first_title_time1 {
  font-size: 16px;
  font-family: "Microsoft Yahei";
  color: #3e3e3e;
}

.first_title_time2 {
  font-size: 16px;
  font-family: "Microsoft Yahei";
  color: #999999;
}

.first_table{
  width: 97%;
  height: 42rem;
  margin: 1.5rem;
  background-color: white;
}
.search{
  display: flex;
  justify-content: flex-end;}
.treeselect{
  margin-left: 1rem;
  margin-right: 1rem;
}

.addInput {
  width: 15rem;
  margin-left: 1rem;
  margin-right: 2rem;
}
.dealer_name{
  color: #0c8da0;
}
.footer_row{
  background-color: white;
  width: 97%;
  display: flex;

}
.footer_total{
  width: 16%;
  height: 2.55rem;
}
.footer_1{
  width: 12%;
  height: 2.55rem;

}
.footer_2{  height: 2.55rem;
  width: 12.5%;
}
.footer_3{  height: 2.55rem;
  width: 17%;
}
.footer_4{  height: 2.55rem;
  width: 25.5%;

}
.footer_5{  height: 2.55rem;
  width: 14%;
}
.table_with_summary_footer{
  padding: 0;
  background-color:#d3d3d3;
}
