.h0 {
  display: flex;
    margin:0px;
    /*background-image: url();*/
  justify-content: space-between;
}
.h1 {
  display: flex;
    margin:0px;
    /*background-image: url();*/
}
.h1t {
  margin-left: 5rem;
  margin-top: 3.2rem;
  font-size: 32px;
  font-family: "Microsoft Yahei";
  margin-bottom: 3rem;
  color: #333333;
}
.ma{
width: 100%  ;
height: 5px;
background-color: black}
.logo{
  background-image: url("../../assets/logo1.png") ;
  background-repeat: no-repeat;
  width: 7.5rem;
  height: 7.5rem;
  margin-left: 4rem;
  margin-top: 1rem;
}
.right{
  font-size: 1.2rem;
  margin-top: 3rem;
  margin-right: 4rem;

}
.left{
  display: flex;
}
.body{
  display: flex;
  justify-content: space-around;

}
