.numberCard{
  margin: 1rem;
  height:6.55rem;
  font-family: monospace;
  margin-bottom: 24px;
  flex-grow: 1.2;

}
.iconWarp{
  font-size: 54px;
}
.content{
  height: 6.05rem;

}
.title_top{
  font-size: 0.9rem;
  color: #999999;
}
.title{
  font-size: 16px;
  margin-top: 15px;
  text-align: center;
}
.number{
  font-size: 2.4rem;
  color: #333945;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.body{
  display: flex;
  justify-content: space-between;
}
.number_danwei{
  font-size: 0.7rem;
  color: #333333;
  margin-left: 0.8rem;
  margin-bottom: 0.7rem;
}
