.body{
width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}
.ap_table_top{
  display: flex;
  width: 100%;
  margin-left: 1rem;
  margin-top: 3rem;
  justify-content: flex-end;
}
.ap_table_top_button{
margin-right: 1rem;
}
.ap_table_top_input{
  margin-right: 2rem;
  width: 15rem;

}
.ap_table{
  margin-top: 1rem;
  width: 100%;
  margin-left: 1rem;
  margin-bottom: 2rem;
  background-color: white;

}
.operator{
  display: flex;
}
.treeselect{
  margin-right: 1rem;
}
.online{
  color: forestgreen;
}
.outline{

}
.time_chart_loading{
  width: 83.9%;
  height: 42rem;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: absolute;
}

.loading_content{
  align-items: center;
}
.time_chart_none{
  display: none;
}
