.body{
  width:100%;
  height: 100%;
  overflow: auto;
}
.title{
  display: flex;
  justify-content: flex-start;
  width: 97%;
  height: 5rem;
  margin: 1.5rem;
  background-color: white;
  align-items: center;
  flex-wrap: nowrap;
}
.title_left{
  font-size: 16px;
  color: #333333;
  margin-left: 2rem;
}

.area {
  margin-left: 2rem;
}

.title_right{
  margin-left: 10rem;

}
.title_right_data{
  margin-right: 1rem;
}
.trendchart{

}
.trendchart_chart{
  width: 97%;
  height: auto;
  margin: 1.5rem;
  background-color: white;
}
.trendchart_rediobutton{
  margin: 1.5rem;
  display: flex;
}
.detaildata_table{
  width: 97%;
  margin: 1.5rem;
  background-color: white;
  float: left;
}

.detaildata {
}

.detaildata_title{
  margin-left: 1.5rem;
  margin-top: 3rem;
  text-align: left;
  font-size: 18px;
  font-family: "Microsoft Yahei";
  color: #3b3b3b;
  float: left;
}

.detaildata_button{
  width: 50%;
  margin-top: 3rem;
  margin-right: 3rem;
  width: 3rem;
  height: 2rem;
  font-size: 18px;
  float: right;
}
.redio_left{

}
.redio_right{
 margin-left: 1rem;
}
.time_top_start{
  font-size: 16px;
  color: #999999;
  margin-right: 1rem;
}
.time_top_end{
  font-size: 16px;
  color: #999999;
  margin-left: 1rem;
  margin-right: 1rem;
}
.time_chart_loading{
  width: 84.9%;
  height: 25rem;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: absolute;
}

.loading_content{
  align-items: center;
}
.time_chart_none{
  display: none;
}
