<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
  <link rel="shortcut icon" href="favicon.ico">
  <title>沃尔沃数据平台</title>
  <link rel="stylesheet" href="/css/antd.min.css">
  <link rel="stylesheet" href="/main.css">
</head>
<body>
<div id="root"></div>
<address></address>
<script type="text/javascript" src="/lsd.common.js"></script>
<script type="text/javascript" src="/index.js"></script>
</body>
</html>
